<div>
  <div class="album py-5 bg-body-tertiary d-flex justify-content-center">
    <div id="carouselFotos" class="carousel slide w-50" data-bs-ride="carousel">

      <div class="carousel-item active">
        <div class="card shadow-sm">
          <img src="../../assets/restaurante.jpg" alt="Primer slide" class="d-block w-100">
          <div class="card-body">
            <p class="card-text text-center fw-bold">Ambiente Acogedor</p>
            <small class="text-body-secondary">Disfruta de un ambiente único.</small>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="card shadow-sm">
          <img src="../../assets/sushi.jpg" alt="Segundo slide" class="d-block w-100">
          <div class="card-body">
            <p class="card-text text-center fw-bold">Deliciosa Cocina</p>
            <small class="text-body-secondary">latos preparados con pasión.</small>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <div class="card shadow-sm">
          <img src="../../assets/burek.png" alt="Tercer slide" class="d-block w-100">
          <div class="card-body">
            <p class="card-text text-center fw-bold">Experiencia Gastronómic</p>
            <small class="text-body-secondary">La mejor selección de recetas.</small>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselFotos" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>

      <button class="carousel-control-next" type="button" data-bs-target="#carouselFotos" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

  </div>
    <div class="text-center">
      <h2>Bienvenido a Nuestro Restaurante</h2>
      <p>Descubre la mejor selección de platos y disfruta de una experiencia culinaria inolvidable.</p>
    </div>
    
</div>